.movie-info{
    width: 100%;
    height: calc(100vh - 60px);
    margin-top: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
}

.movie-detail{
    width: 70%;
    height: 100%;
    background: rgb(24,24,24);
    background: linear-gradient(90deg, rgba(24,24,24,1) , rgba(24,24,24,0) 100%);
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
}

.movie-title{
    font-size: 20px;
    font-weight: 500;
}

.movie-date-genres{
    opacity: 0.6;
    margin: 30px 0;
}

.movie-description{
    width: 70%;
    line-height: 20px;
    margin-bottom: 30px;
}

.movie-starring span {
    opacity: 0.6;
}

.trailer-container,
.recommendations{
    color: #fff;
    padding: 5vw 5vw 0;
}



.details-heading{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px; 
}

iframe{
    width: 400px;
    height: 200px;
}

.recommendations{
    color: #fff;
    padding: 5vw 5vw 0;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    text-align: left;
    flex-wrap: wrap;
}

.recommendations-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.trailer{
    margin-right: 2%;
}
