header {
  background-color: $black;
}

li {
  list-style: none;
}

a {
  color: $white;
  text-decoration: none;
}

.navbar-new {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  position: fixed;
  z-index: 1;
  background-color: $black;
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  gap: 4vw;
  margin-left: 5%;
  a {
    transition: 0.7s ease;

    &:hover {
      color: $red;
    }
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: $white;
}

//MAIN

.main {
  position: relative;
  width: 100vw;
  height: 70vh;
  padding: 40px 2.5vw;
  color: $white;
  background-color: $darkgrey;
  //background-image: linear-gradient(to bottom, transparent, #181818), url("https://image.tmdb.org/t/p/original/ehumsuIBbgAe1hg343oszCLrAfI.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.homepage {
  height: 50vh;
  border-radius: 5px;
}

.heading {
  text-transform: capitalize;
  font-weight: 900;
  font-size: 50px;
  margin-left: 2vw;
  margin-top: 40vh;
}

.heading-info {
  width: 50%;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 2vw;
  margin-bottom: 5vh;
}

//movie swiper
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-category {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.movie-list {
  transform: translateX(2%);
  margin-right: 3.5%;
}
