* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background: #181818;
  font-family: "roboto", sans-serif;
  font-size: 14px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-info {
  width: 100%;
  height: calc(100vh - 60px);
  margin-top: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
}

.movie-detail {
  width: 70%;
  height: 100%;
  background: rgb(24, 24, 24);
  background: linear-gradient(90deg, rgb(24, 24, 24), rgba(24, 24, 24, 0) 100%);
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}

.movie-title {
  font-size: 30px;
  font-weight: 500;
}

.movie-date-genres {
  opacity: 0.6;
  margin: 30px 0;
}

.movie-description {
  width: 70%;
  line-height: 20px;
  margin-bottom: 30px;
}

.movie-starring span {
  opacity: 0.6;
}

.trailer-container,
.recommendations {
  color: #fff;
  padding: 5vw 5vw 0;
}

.details-heading {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

iframe {
  width: 400px;
  height: 200px;
}

.recommendations {
  color: #fff;
  padding: 5vw 5vw 0;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  text-align: left;
  flex-wrap: wrap;
}

.recommendations-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: #000;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.navbar-new {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  position: fixed;
  z-index: 1;
  background-color: #000;
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  gap: 4vw;
  margin-left: 5%;
}
.nav-menu a {
  transition: 0.7s ease;
}
.nav-menu a:hover {
  color: #dd0e15;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: #fff;
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 2 1 auto;
  margin-right: 20;
  z-index: 2;
  min-width: 400px;
}
.searchbar input {
  height: 40px;
  border-radius: 25px;
  width: 20vw;
  min-width: 300px;
}

.main {
  position: relative;
  width: 100vw;
  height: 70vh;
  padding: 40px 2.5vw;
  color: #fff;
  background-color: #181818;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.homepage {
  height: 50vh;
  border-radius: 5px;
}

.heading {
  text-transform: capitalize;
  font-weight: 900;
  font-size: 50px;
  margin-left: 2vw;
  margin-top: 40vh;
}

.heading-info {
  width: 50%;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 2vw;
  margin-bottom: 5vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-category {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.movie-list {
  transform: translateX(2%);
  margin-right: 3.5%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  padding: 2rem 0;
}

.swiper-container {
  display: flex;
  justify-content: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms all;
}
.swiper-slide:hover {
  transform: scale(1.2);
  z-index: 1;
}
.swiper-slide:first-child:hover {
  margin: 0 20px;
}
.swiper-slide:nth-child(5):hover {
  margin: 0 -20px;
}
.swiper-slide:last-child:hover {
  margin: 0 -20px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 125%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.swiper-button-next, .swiper-button-prev {
  color: red;
  z-index: 2;
}

.movie-cards {
  border-radius: 0 0 5px 5px;
}
.movie-cards p {
  font-size: 0.7rem;
  font-weight: 300;
  padding: 0.6rem;
  background: #000;
  border-radius: 0 0 5px 5px;
}

.main-search {
  margin-left: 2.5vw;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-result {
  margin: 1rem;
  background-color: black;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 250ms all;
  width: 15%;
  min-width: 250px;
  overflow-y: hide;
}
.search-result:hover {
  transform: scale(1.2);
  z-index: 1;
}
.search-result img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.search-result p {
  font-size: 0.7rem;
  font-weight: 300;
  padding: 0.2rem;
  background: #000;
  border-radius: 0 0 5px 5px;
}

@media (max-width: 1150px) {
  .navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 60px;
    gap: 10vw;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    padding: 1rem;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    margin-left: 0;
    z-index: 2;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}
@media (max-width: 900px) {
  .searchbar {
    position: fixed;
    left: -100%;
    top: 110px;
    background-color: black;
    width: 100%;
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    transition: 0.3s;
  }
  .searchbar.active {
    left: 0;
  }
}
.search-container {
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1%;
  background-color: rgba(24, 24, 24, 0.95);
  position: fixed;
  top: 60px;
  left: 5vw;
  visibility: hidden;
}

.search-container.active {
  visibility: visible;
}

.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #000;
  z-index: 1;
  padding: 0 2.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
  flex-wrap: wrap;
  top: 0;
}

.logo {
  height: 35px;
}

.line {
  background-color: #fff;
}

.navbar-titles {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
.navbar-titles li {
  margin-left: 2vw;
}
.navbar-titles a {
  text-decoration: none;
  display: block;
  color: #fff;
  font-weight: 900;
  font-size: 1.2em;
  font-weight: bold;
  transition: 0.2s;
}
.navbar-titles a:hover {
  color: #dd0e15;
  transition: 0.2s;
}
.navbar-titles a.active {
  color: #dd0e15;
  font-size: 1.3em;
}

li {
  list-style-type: none;
}

.search-icon {
  color: #dd0e15;
  margin-right: 10px;
  font-size: 1.6rem;
  margin-left: 10px;
}

.fa-search {
  visibility: hidden;
}

.fa-search.active {
  visibility: visible;
}

.fa-times {
  visibility: hidden;
}

.fa-times.active {
  visibility: visible;
  position: relative;
  right: 40px;
}

.join-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: auto;
  flex: 1 1 auto;
  margin-right: 2vw;
  margin-left: 2vw;
}

.btn {
  border: 1px solid #fff;
  border-radius: 2px;
  background: none;
  color: #fff;
  height: 35px;
  padding: 0 10px;
  margin-left: 10px;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 90px;
  font-weight: 600;
}

.join-btn {
  background: #dd0e15;
  border-color: #dd0e15;
}/*# sourceMappingURL=styles.css.map */